<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Aceptado</title>
</head>
<body>

<p>
    Buen día señor Gestor
</p>

<p>
    El Instituto Geográfico Agustín Codazzi (IGAC) le informa:
</p>

<p>
    El reporte de información catastral cargada para el municipio <b th:text="${municipality}"></b> del departamento <b th:text="${department}"></b> cumple
    con la estructura, por favor ingrese al sistema y continue el proceso para enviar el reporte al Autoridad Catastral (IGAC).
</p>


<p>Cordialmente,</p>


Instituto Geográfico Agustín Codazzi <br/>
Tel. 3694000 </br >
Carrera 30 Nº 48-51 </br >
Sede Central Bogotá </br>
<a href="www.igac.gov.co">www.igac.gov.co</a> <br/>


</body>
</html>